* {
    padding: 0;
    margin: 0;
}

body { 
    background-image: url(./img/sample-pattern.png);
}

header {
    width: 100%;
    height: 60px;
    padding-bottom: 8px;
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
}

img {
    width: 230px;
}

section {
    margin: auto;
}

#canvas {
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

p {
    text-align: center;
    padding-bottom: 5px;
    font-size: 30px;
    margin: auto;
}

#score {
    margin: auto;
    width: 9%;
    height: 30px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
}

button {
    /* margin: auto; */
    width: 50%;
    height: 35px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 10px;
    background-color: orange;
}

button:hover {
    background-color: rgb(250, 210, 35);
    border-radius: 5px;
}

.kotak1, .kotak2, .kotak3, .kotak4, .kotak5, .kotak6, .kotak7, .kotak8, .kotak9 {
    display: table-cell;
    width: 120px;
    height: 120px;
    border: 1px solid white;
    background: url(./img/hacktiv.jpg); 
    cursor: pointer;
}

.kotak1 {
    background-position: left top;
}

.kotak2 {
    background-position: center top;
}

.kotak3 {
    background-position: right top;
}

.kotak4 {
    background-position: left center;
}

.kotak5 {
    background-position: center center;
}

.kotak6 {
    background-position: right center;
}

.kotak7 {
    background-position: left bottom;
}

.kotak8 {
    background-position: center bottom;
}

.kotak9 {
    background: white; cursor: default;
}

#table {
    margin: auto;
}